@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import 'node_modules/toastr/toastr.scss';
.info {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
        0px 1px 3px 0px rgba(0, 0, 0, 0.08) !important;
}
